body{

  overflow-x: hidden;
}
#banner-title{
  font-size: 2.5rem;
  padding-left: 1rem;
  margin-left: 1rem;

}

#mobile-demo{
  max-width: 70vw!important;

}
#mainInput{
    height: 2rem;
    font-size: 2rem;

}


.center{

  margin: 0 auto;
}

.hidden{

  display: none;
  }

#tag-one{
  background-color: red;
}
#tag-two{
  background-color: dodgerblue;

}

#bullshit-img{

  max-width: 225px;
}
#fit-img{

}
