body{

  background:url('../imgs/bigbg.jpg') center / cover;
  overflow-x: hidden;
}
#mobile-demo{
  max-width: 70vw!important;

}
#mainInput{
    height: 2rem;
    font-size: 2rem;

}


.center{

  margin: 0 auto;
}

.hidden{

  display: none;
  }

#tag-one{
  background-color: red;
}
#tag-two{
  background-color: dodgerblue;

}

#bullshit-img{

  max-width: 225px;
}
